<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<style>
body {background-color: Lavender ;}
h1   {color: DarkBlue;}
h3   {color: FireBrick   ;}
p    {color: red;}
</style>
<body>
 <div class="login">
	<h1>Prediction des Tags de question StackOverflow</h1>
	<h3>Veuillez saisir une question style StackOverflow</h3>

  <!-- Main Input For Receiving Query to our ML -->
  <form action="http://localhost:5000/predict" method="post">   	
		<textarea type="text" name="text" placeholder="Question StackOverflow" required="required" rows="5" cols="100"></textarea>	
    <button type="submit" required="required" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>
  <br>
  {{ prediction_text }}
 </div>
</body>
</html>